.headerNavbar{
  z-index: 1000;
  position: relative;
  position: fixed;
  top: 0;
}

.navbar-nav .nav-link  {
  font-size: 20px; 
  font-weight: bold;
}
.ImgLogo{
  width: 144px;
  }

  .headerNav{
    position: relative;
  }