.table-header th {
  background-color: var(--primary) !important;
  /* color: #000; */

}

.table-header tr {
  height: 50px;
  padding: 10px 0px;
}

.table-body tr td {
  padding: 20px 0px;
}

.sideBar .pointer {
  cursor: pointer;
}
