.themeDiv {
    z-Index: 9998 !important;
}

.togleIco {
    animation: showIcon 1s;
}


@keyframes showIcon {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}