/* import backgroundImg from '../../../assest/images/successfulHands.png' */



.CTA {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url('../../../assest/images/successfulHands.png') center/cover;
    border-radius: 24px;
    width: 1050px;
    height: 210px;
    position: relative;

}

.CTA h2 {
    margin: 10px 0;
}

.CTA .btn-primary {
    background-color: #0062FF;
    border: none;
}

